import styled from 'styled-components';

export const Footer = styled.section`
  background: #f2f2f2;
  display: flex;
  width: 100%;
`;

export const FlexboxWrapper = styled.div`
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
`;

export const Item = styled.div`
  text-align: left;
  width: 20%;
`;

export const List = styled.ul`
  padding: 0;
`;

export const Title = styled.h4`
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
`;
